h1{
  color: blue;
}




.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

.output{
  border: none;
  outline: none;
  width: 320px;
  height: 100px;
  background-color:black;
  padding: 2px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 32px;
  color:#fff;
  text-align: right;
}

button{
  width: 81px;
  height: 90px;
  font-size: 26px;
  border: none;
  cursor: pointer;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  &&:hover{
    background-color: #c9c8cc;
  }
}
.operator{
  border-right: none;
  background-color: #fb9419;
  color:#fff;
  &&:hover{
    background-color: #c9c8cc;
  }
}
.fun-key{
  background-color: #c9c9cc;
}